html{

background-image: url("../src/overlord.jpg");
background-position: 50% 22%;
background-attachment: scroll;
}

.boxed{
	background: white;
	margin: 5%;
	padding :2%;
	opacity: 0.85;
}

.fspaced{
	margin-left : 5%;
	margin-right: 1%;
}

.sspaced{
	margin-left : 1%;
	margin-right: 1%;
}